@media only screen and (max-width: 480px) and (min-width: 320px) {
  .btn-bar {
    display: block;
    margin-right: 10px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .btn-bar > .icon-bar {
    font-size: 20px;
  }
  .top-bar__digital {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 188px;
    border-bottom: 1px solid #221d1d;
  }
  .top-bar__digital > li {
    display: inline-block;
    width: 100%;
  }
  .top-bar__digital > li > a {
    width: 100%;
    margin-right: 0 !important;
    text-align: center;
  }
  .banner-header > .title-digital {
    margin-top: 220px;
  }
  .title-digital > .title-digital__text {
    font-size: 30px;
  }
  .content-banner > .content-banner_text {
    width: 280px;
  }
  .btn-message > .btn-send {
    text-decoration: none;
    padding: 8px 14px;
    background-color: #ffe100;
    color: #221d1d;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
  }

  .body-container_digital > .title-body {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .banner-body {
    margin-top: 52px;
    width: 312px;
    height: 312px;
    background-color: #ffe100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }

  .banner_word {
    display: flex;
    flex-direction: column;
    margin-bottom: 161px;
    align-items: center;
  }
  .banner-image_work {
    width: 80%;
    object-fit: cover;
  }

  .title-about_us {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }
  .text-description {
    margin-bottom: 50px;
    width: 270px;
    font-size: 16px;
    font-weight: 600;
  }

  .text-items_1 {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
  }

  .text-desciption_read {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .row > .col-content {
    max-height: 360px;
  }

  #about-us {
    margin-bottom: 150px;
  }

  .title-blog {
    margin-bottom: 56px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }

  .title-des_blog {
    width: 270px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  .row > .col-blog {
    flex: none;
  }

  #blog {
    margin-bottom: 100px;
  }
  .title-contact_us {
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
  }
  .top-bar_bodywork {
    display: none;
  }
  .row > .col-content {
    flex: none;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
